$Primary: #c72e40;
$Secondary: #e45357;
$Tertiary: #dfdfdf;
$SiteBackgroundColor: #fefefe;
$text-color: #000000;
$botBubble: #ffcac0;
$userBubble: #dfdfdf;
body {
    font-family: "Calibri", " Helvetica";
    letter-spacing: 0.3px;
    color: $text-color;
    background: $SiteBackgroundColor;
    margin: 0;
}

#chatWrapper {
    background: #fafafa;
    margin: 25px auto;
    width: 400px;
    #chatHeader {
        border: none;
        border-radius: 10px 10px 0 0;
        height: 50px;
        padding: 0;
        background: $Primary;
        color: #fff;
        font-size: x-large;
    }
    #chatLog {
        border: 1px solid rgb(214, 214, 214);
        height: 640px;
        margin: 0;
        padding: 5px;
        overflow: auto;
        .messageContain {
            display: flex;
            flex-direction: column;
            .bubble {
                display: block;
                font-size: 0.95rem;
                margin: 10px 0;
                padding: 7px 10px;
                max-width: 80%;
                width: max-content;
                white-space: pre-wrap;
            }
            .call {
                border-radius: 10px 10px 0 10px;
                background: $userBubble;
                margin-left: auto;
                color: $text-color;
            }
            .response {
                border-radius: 10px 10px 10px 0;
                background: $botBubble;
                color: $text-color;
            }
        }
        .respLoading {
            width: 20%;
            text-align: center;
            margin: 0 auto;
            svg path,
            svg rect {
                fill: #ccc;
            }
        }
        &::-webkit-scrollbar-thumb {
            background-color: #ddd;
            border-radius: 10px;
            transition: background-color 0.5s ease;
        }
        &::-webkit-scrollbar-track {
            margin: 15px 0;
        }
        &::-webkit-scrollbar {
            width: 7px;
        }
        &:hover::-webkit-scrollbar-thumb {
            background-color: #cdcdcd;
            transition: background-color 0.5s ease;
        }
    }
    #chatFooter {
        border: none;
        border-radius: 0 0 10px 10px;
        height: 60px;
        padding: 15px 10px 0px 10px;
        background: $Primary;
        #chatInput {
            border: none;
            height: 40px;
            padding: 0;
            input {
                background: #f7f7f7;
                border: none;
                border-radius: 7px;
                height: 20px;
                width: 70%;
                padding: 10px 10px;
                outline: none;
            }
            .sendButton {
                background: $Secondary;
                border: 0;
                border-radius: 7px;
                color: #fff;
                height: 100%;
                width: 20%;
                margin: 0px 0px 0px 15px;
                cursor: pointer;
            }
        }
    }
}