.bpw-widget-btn {
    background-color: #ed1c24;
    border-radius: 6px 6px 6px 0;
}

  button.bpw-widget-btn.bpw-floating-button:after {
    content: 'Frag den KölnBot';
    color: white;
    font-size: 14px;
}

.bpw-floating-button {
    width: 200px;
    padding: 10px;
}

.bpw-floating-button i {
    width: 40px;
    margin-right: 10px;
}

.bpw-header-container {
    background-color: #6c655f;
    color: #ffffff;
}

.bpw-header-icon svg,
.bpw-header-icon svg path {
  fill: #ffffff;
  transition: fill 0.3s;
}

.bpw-header-icon:hover,
.bpw-header-icon:hover svg,
.bpw-header-icon:hover svg path {
  fill: #ed1c24;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: #6c655f;
    color: #ffffff;
    border-radius: 12px 12px 0 12px;
}
  
.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: #dfdfdf;
    color: #212529;
    border-radius: 12px 12px 12px 0;
}

.bpw-bubble-session_reset {
    border: none;
    border-top: none;
    border-bottom: none;
}

.bpw-bubble-session_reset .bpw-chat-bubble-content {
    background: #ed1c24 !important;;
    opacity: 0.9;
    margin: 5px 0;
    padding: 0.5rem 0.75rem;
}

.bpw-chat-bubble {
    white-space: normal;
}

.bpw-bot-avatar img,
.bpw-bot-avatar svg {
    border: none;
    border-radius: 50%;
    background: transparent;
}

.bpw-composer {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    padding-bottom: 0;
}

.bpw-composer-inner {
    margin-top: 0;
}

.bpw-composer textarea{
    margin-bottom: 0;
    background-color: #ffffff;
    border-radius: 8px;
    line-height: 1.0;
    height: 40px;
}

.bpw-keyboard-quick_reply {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.bpw-button {
    border-radius: 40px;
    min-width: 50px;
    border: 1px solid #6c655f;
    padding: 8px;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.07);
    font-size: 0.9rem;
    min-height: 30px;
}

.bpw-button:hover {
    background-color: rgba(0, 0, 0, 0.27);
  }
  
.bpw-send-buttons {
    margin-left: 20px;
}

.bpw-send-button {
    background: #ed1c24;
    opacity: 0.9;
    color: #ffffff;
    padding: 0.375em 0.75em;
    font-size: 1em;
    line-height: 1.5;
}
  
.bpw-send-button:hover,
.bpw-send-button:focus {
    background: #ed1c24;
    opacity: 1.0;
}

.bpw-powered {
    display: none;
}

.cgnSimpleCard{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.cgnSimpleCardHeader{
    padding: 0.75em 1.25em;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); 
}
.cgnSimpleCardBody{
    padding: 0.75em 1.25em;
}

.cgnAccordion{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 250px; 
}

.collapse-header {
    padding: 0.75em 1.25em;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.collapse-header-text {

}
.collapse-button {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: right;
}
.collapse-icon {
    float: right;
}

.collapse-content {
    padding: 0.75em 1.25em;
}

.collapse-content.collapsed {
display: none;
}

.collapsed-content.expanded {
display: block;
}

#kbot-wrapper {
}

#kbot-wrapper .kbot-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }

#kbot-wrapper .kbot-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 50%; }

#kbot-wrapper .kbot-weather__centered-column {
    text-align: center; }

#kbot-wrapper .kbot-weather__detail-column svg {
    margin-right: 4px; }

#kbot-wrapper .kbot-weather__detail-column p {
    margin-bottom: 8px; }

#kbot-wrapper .kbot-weather__centered-column h3{
    margin-top: 0; 
    margin-bottom: 0; }

#kbot-wrapper .kbot-forecast__column {
    text-align: center;
    padding: 0; }
#kbot-wrapper .kbot-forecast__column p {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    text-align: inherit; }

#kbot-wrapper .kbot-icon-big {
    height: 76px; }

#kbot-wrapper .kbot-icon-small {
    width: 60px; 
    height: 60px; }

#kbot-wrapper .kbot-text-muted {
    color: #868e96 }

